@import-once 'lib/mixins';

.annotations {

    .annotation-target {
        stroke: orange;
        stroke-width: 2px;
        shape-rendering: crispEdges;
        display: none;
    }

    &:hover {
        .annotation-target {
            display: inline
        }

        .annotation {
            .opacity(75);
        }
    }


    .annotation {
        fill: yellow;
        stroke: transparent;
        stroke-width: 4px;
        shape-rendering: crispEdges;
        .opacity(50);
        pointer-events: all;

        .transition(~'stroke 300ms,opacity 300ms');

        &.highlight, &:hover {
            stroke: yellow;
            .opacity(100);
        }
    }

    .reference-mode & {
        .annotation {
            cursor: pointer;
            .opacity(100);
        }
    }
}


