.timeline-help-text {
    position: absolute;
    left: 62px;
    top: 0;
    line-height: 30px;
}

.details-left.col {
    width: 100%;
}

.sliding-panel.col {
    width: 100%;
}

.collaborator.show-left .sliding-panel,
.collaborator.show-mid .sliding-panel,
.collaborator.show-right .sliding-panel {
    margin-left: 0;
}

.user-box.col {
    left: 0;
    width: 100%;
}