.area {
  stroke-width: 1px;
  fill: steelblue;
}
.line {
  stroke-width: 1.5px;
  stroke: steelblue;
  fill: none;
}
.sentiment-combined {
  /* no stroke for areas */

}
.area.sentiment-combined {
  fill: #44c151;
}
.muted .area.sentiment-combined {
  fill: #45734a;
}
.line.sentiment-combined {
  stroke: #44c151;
}
.muted .line.sentiment-combined {
  stroke: #45734a;
}
.bold.sentiment-combined {
  stroke: #ddf4e0;
  stroke-width: 2.5px;
}
.legend-swatch.sentiment-combined {
  background-color: #44c151;
}
.indicator.sentiment-combined {
  background-color: #44c151;
}
.sentiment-positive {
  /* no stroke for areas */

}
.area.sentiment-positive {
  fill: #05c5e7;
}
.muted .area.sentiment-positive {
  fill: #177788;
}
.line.sentiment-positive {
  stroke: #05c5e7;
}
.muted .line.sentiment-positive {
  stroke: #177788;
}
.bold.sentiment-positive {
  stroke: #baf3fe;
  stroke-width: 2.5px;
}
.legend-swatch.sentiment-positive {
  background-color: #05c5e7;
}
.indicator.sentiment-positive {
  background-color: #05c5e7;
}
.sentiment-neutral {
  /* no stroke for areas */

}
.area.sentiment-neutral {
  fill: #444444;
}
.muted .area.sentiment-neutral {
  fill: #1e1e1e;
}
.line.sentiment-neutral {
  stroke: #777777;
}
.muted .line.sentiment-neutral {
  stroke: #1e1e1e;
}
.bold.sentiment-neutral {
  stroke: #dddddd;
  stroke-width: 2.5px;
}
.legend-swatch.sentiment-neutral {
  background-color: #444444;
}
.indicator.sentiment-neutral {
  background-color: #777777;
}
.sentiment-negative {
  /* no stroke for areas */

}
.area.sentiment-negative {
  fill: #f9294a;
}
.muted .area.sentiment-negative {
  fill: #b52138;
}
.line.sentiment-negative {
  stroke: #f9294a;
}
.muted .line.sentiment-negative {
  stroke: #b52138;
}
.bold.sentiment-negative {
  stroke: #ffeff2;
  stroke-width: 2.5px;
}
.legend-swatch.sentiment-negative {
  background-color: #f9294a;
}
.indicator.sentiment-negative {
  background-color: #f9294a;
}
