/*csslint adjoining-classes: false*/

.collaborator .header .title {
    font-weight: normal;
    line-height: 30px;
    font-size: 20px;
    display: inline;
}

.discussions .new-button {
    float: right;
}

.user-box {
    text-align: center;
}

.user-box .form input {
    font-size: 18px;
    height: 25px;
    line-height: 25px;
    padding: 5px 8px;
}

.discussion-list {
    margin: 0;
    padding: 0;

    background: #fff;
    color: #333;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.discussion {
    padding: 12px;
    border-bottom: 1px solid #eee;
    position: relative;
    cursor:pointer;
}

.discussion:hover {
    text-decoration: underline;
    background-color: #eee;
}


.discussion .subject {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-right: 40px;
    margin-bottom: 5px;
}

.discussion .message-count {
    position: absolute;
    top: 12px;
    right: 12px;
}

.discussion .users,
.discussion .last-comment-at {
    font-size: 12px;
}

.discussion .users {
    float: left;
}

.discussion .last-comment-at {
    float: right;
}


.discussion-view {
    float: right;
}

.discussion-view .comment-box textarea {
    width: 100%;
    display: block;
    box-sizing: border-box;
    resize: none;
    margin-top: 10px;
}

.discussion-view .comment-box .user-display {
    font-size: 18px;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 15px;
}

.discussion-view .comment-box .reference-button {
    float: left;
}

.discussion-view .comment-box .send-button {
    float: right;
    margin-left: 10px;
}

.discussion-view .comments {
    margin: 10px 0 0 0;
    padding: 0;

    background: #fff;
    color: #333;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.discussion-view .comment {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.discussion-view .comment .user {
    font-weight: bold;
    margin-bottom: 5px;
}
.discussion-view .comment .time {
    float: right;
}

.discussion-view .comment .message {
    line-height: 25px;
}

.discussion-view .comment .message .ref {
    background-color: #FAEDCE;
    padding: 2px 4px;

    text-decoration: underline;
    white-space: nowrap;
    border: 1px solid transparent;

    /*-moz-border-radius: 4px;*/
    /*-webkit-border-radius: 4px;*/
    /*border-radius: 4px;*/
}
.reference-mode .discussion-view .comment .message .ref {
    cursor: pointer;
    border-color: #AAA;
}

.discussion-view .comment .message .ref.highlight,
.discussion-view .comment .message .ref:hover {
    background-color: #ffc174;
}

.discussion-view .comment .message .ref.type-T {
    background-color: #D9F6FA;
}

.discussion-view .comment .message .ref.type-T.highlight,
.discussion-view .comment .message .ref.type-T:hover {
    background-color: #a9f3fa;
}