/*csslint adjoining-classes: false*/

.collaborator .header .title {
    font-weight: normal;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 10px;
}

.user-box {
    text-align: center;
}

.user-box .header {
    margin: 10px 0;
}

.user-box .form input {
    font-size: 18px;
    line-height: 25px;
    height: 25px;
    padding: 5px 8px;
}

.user-box .form .user-submit {
    font-size:17px;
    padding: 8px 13px;
}

.discussions .instructions {
    margin-top: 10px;
}

.discussions .new-button {
    position: absolute;
    right: 0;
    bottom: 0;
}

.discussions .discussion {
    cursor:pointer;
}

.discussion:hover {
    background-color: #444;
}

.discussion:active {
    background-color: #505050;
}


.discussion:hover .message-count,
.discussion:hover .last-comment-at,
.discussion:hover .users {
    color: #fff;
}

.discussion .subject {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-right: 40px;
    margin-bottom: 5px;

    font-size: 14px;
}

.discussion .message-count {
    position: absolute;
    top: 12px;
    right: 12px;
}

.discussion .users {
    float: left;
    margin-right: 150px; /* for the last-comment time */
}

.discussion .last-comment-at {
    position: absolute;
    right: 12px;
    bottom: 12px;
    max-width: 140px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.discussion-view {
    float: right;
}

.discussion-view .comment-box textarea {
    width: 100%;
    display: block;
    box-sizing: border-box;
    resize: none;
    margin: 10px 0;
}

.discussion-view .comment-box .user-display {
    font-size: 18px;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 15px;
}

.discussion-view .comment-box .reference-button {
    float: left;
}

.discussion-view .comment-box .send-button {
    float: right;
    margin-left: 10px;
}

.discussion-view .comment .user {
    margin-bottom: 5px;
}
.discussion-view .comment .time {
    float: right;
}

.discussion-view .comment .view-state {
    float: right;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.5;
}
.discussion-view .comment .view-state:hover {
    opacity: 1;
}

.discussion-view .comment .message {
    line-height: 25px;
}

.discussion-view .comment .message .ref {
    color: #f4eb3e;
    white-space: nowrap;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 0, 0.1);
    /*-moz-border-radius: 4px;*/
    /*-webkit-border-radius: 4px;*/
    /*border-radius: 4px;*/
}
.reference-mode .discussion-view .comment .message .ref {
    cursor: pointer;
    border-color: #AAA;
}

.discussion-view .comment .message .ref.highlight,
.discussion-view .comment .message .ref:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 0, 0.3);
}

.discussion-view .comment .message .ref.type-T {
    color: #93e7ff;
    background-color: rgba(104, 208, 242, 0.1);
}

.discussion-view .comment .message .ref.type-T.highlight,
.discussion-view .comment .message .ref.type-T:hover {
    background-color: rgba(104, 208, 242, 0.3);
}