
.reference-mode .keywords-list .keyword {
    cursor: pointer;
}

.keywords-list .keyword_term, .keywords-list .keyword_before, .keywords-list .keyword_delta {
	width: 20%;
	float: left;
	text-align: center;
}

.keywords-list .keyword_term {
	width: 35%;
	text-align: left;
}

.keywords-list .keyword .keyword_pct_delta {
	width: 20%;
	float: right;
	text-align: right;	
}

.keywords-list .keyword.highlight,
.keywords-list .keyword:hover {
    background-color: #555;
}