.keywords-list ul {
	list-style-type: none;
	margin: 0;
	background: #fff;
}

.keywords-list .keyword {
    border-bottom: 1px solid #ccc;
	color: #333;
	padding: 12px;

    -webkit-transition: background 200ms ;
    -moz-transition: background 200ms ;
    -ms-transition: background 200ms ;
    -o-transition: background 200ms ;
    transition: background 200ms ;
}

.keywords-list .keyword .hdr {
	color: #fff;
}

.keywords-list .keyword .body {
	overflow: auto;
}

.keywords-list .keyword .keyword_text {
	width: 80%;
	float: left;
}

.keywords-list .keyword .keyword_count {
	float: left;
	text-align: right;
}

.keywords-list .keyword .keyword_pct_delta {
	width: 20%;
	float: right;
	text-align: right;	
}

.keywords-list .keyword.highlight,
.keywords-list .keyword:hover {
    background-color: #D9F6FA;
}