
.reference-mode .keywords-list .keyword {
    cursor: pointer;
}

.keywords-list .mid_point {
    float: right;
}

.keywords-list .relevance_variation {
	float: right;
    margin-right: 6px;
}

.keywords-list .keyword_term {
    float: left;
}

.keywords-list .keyword.highlight,
.keywords-list .keyword:hover {
    background-color: #555;
}