/*csslint ids:false, box-model:false*/

.wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#content {
    position: absolute;

    top: 51px;
    left:0;

    width: 100%;
    padding: 0 10px 10px 10px;
}

#explorer {
    float: left;
    width: 70%;
    margin: 0;
    padding: 0;
}

#collaborator-wrapper {
    float: left;
    padding-left: 10px;
    width: 30%;
}

#tweet-timeline {
    height: 200px;
    margin-bottom: 10px;
}

#tweet-overview {
    height: 60px;
    margin-bottom: 10px;
}

#explorer-details {
    width: 100%;
    position: relative;
}

#explorer-details .tab-group {
    float: left;
    height: 100%;
    width: 49%;
}

#tab-group-wrapper {
    float: left;
    height: 100%;
    width: 50%;
    padding-left: 10px;
}

#tab-group-wrapper .tab-group {
    width: 100%;
}