@import url(lib/bootstrap.css);

body {
    background-color: #222;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.area {
    fill: steelblue;
}

.spark {
    stroke: #000;

}

.circular-border {
    fill: #222;
    /*stroke: #eee;*/
}

.dot {
    /*fill-opacity: 0.6*/
}

.background {
    fill: #222;
}

.foreground {
    fill: none;
    pointer-events: all;
}

.dot:hover {
    stroke: #ffffaa;
    stroke-width: 1px;
}

.chart-label {
    fill: #DDD;
    font-size: 12px;
}

.axis line, .axis path {
    stroke: transparent;
}

.graph-align-toggle {
    position: absolute;
    padding: 1px;
    border-radius: 1px;
    -webkit-transition: box-shadow 100ms linear, background-color 100ms linear;
    -moz-transition: box-shadow 100ms linear, background-color 100ms linear;
    -ms-transition: box-shadow 100ms linear, background-color 100ms linear;
    -o-transition: box-shadow 100ms linear, background-color 100ms linear;
    transition: box-shadow 100ms linear, background-color 100ms linear;
}

.graph-align-toggle:hover {
    background-color: rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}

.graph-align-toggle:active {
    background-color: rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

.graph-align-toggle i {
    display: block;
    /*corner-radius: 2px;*/
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#tweet-timeline {
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
