.navbar .navbar-inner {
    /* Simulating .navbar-fixed-top */
    border-width: 0 0 1px;

    padding-right: 0;
    padding-left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar .nav > li > .title {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}