form.query {
    margin: 0;
}

form.query label {
    margin-top: 0;
    margin-bottom: 0;
}

form.query .icon-search {
    margin-left: 10px;
    margin-right: 10px;
}

form.query .query-search {
    width: 120px;
}

form.query .query-author {
    width: 80px;
}

form.query .query-minrt {
    width: 35px;
}

form.query .query-sentiment {
    width: auto;
}

/* Mode switch button styles */
.mode-switch-button-group .active {
    background-color: #2C4A55;
    color: #efefef;
}

.annotations-checkbox {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 30px;
}

.mode-switch-button-group .select {
    padding-left: 7px;
}
.mode-switch-button-group .mode-switch-button {
    padding-left: 7px;
    min-width: 132px;
}

.mode-switch-button-group .display-icon {
    background-repeat: no-repeat;
    width: 26px;
    height: 17px;
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
    margin-right: 3px;

    background-color: #fff;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
}


.mode-switch-button-group .display-simple {
    background-image: url("img/display_simple.png");
}

.mode-switch-button-group .display-stack {
    background-image: url("img/display_stack.png");
}

.mode-switch-button-group .display-expand {
    background-image: url("img/display_expand.png");
}

.mode-switch-button-group .select .blank {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}