form.query {
    margin: 0;
}

form.query label {
    margin-top: 0;
    margin-bottom: 0;
}

form.query .icon-search {
    margin-left: 10px;
    margin-right: 10px;
}

form.query .query-search {
    width: 120px;
}

form.query .query-author {
    width: 80px;
}

form.query .query-minrt {
    width: 35px;
}

form.query .query-sentiment {
    width: auto;
}
