.tab-group .nav-tabs {
    margin: 0;
    border-bottom-color: rgba(255, 255, 255, 0.3);
}

.tab-group .nav-tabs > li > a {
    padding: 2px 12px;

    line-height: 16px;

    border: 1px solid rgba(0, 0, 0, 0);

    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;

    cursor: pointer;

    color: #888;
}

.tab-group .nav > li > a:hover,
.tab-group .nav > li > a:focus {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.05);
}

.tab-group .nav-tabs > li > a:hover,
.tab-group .nav-tabs > li > a:focus {
    border-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) transparent rgba(255, 255, 255, 0.2);
}

.tab-group .nav-tabs > .active > a,
.tab-group .nav-tabs > .active > a:hover,
.tab-group .nav-tabs > .active > a:focus {
    color: #eee;
    cursor: default;
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3) rgba(0,0,0,0) rgba(255, 255, 255, 0.3);
}