@import-once 'lib/mixins';

.legend {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0 10px 0 0;

    .box-sizing(border-box);

    > li {
        float: right;
        padding: 8px 8px;
        color: #ccc;
        .box-sizing(border-box);

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .legend-swatch {
        width: 13px;
        height: 13px;
        display: inline-block;
        border: 1px solid rgba(170, 170, 170, 0.33);
        vertical-align: top;
    }
}


/* Mode switch button styles */
.mode-switch-buttons {
    float:left;

    > li {

        > a {
            padding: 2px 10px 2px 4px;

            overflow: hidden;
            white-space: nowrap;

            .display-icon {
                background-repeat: no-repeat;
                background-size: contain;
                width: 26px;
                height: 17px;
                display: inline-block;
                line-height: 20px;
                vertical-align: middle;
                margin-right: 3px;

                .opacity(50);

                &.display-simple {
                    background-image: url("img/display_simple.png");
                }
                &.display-stack {
                    background-image: url("img/display_stack.png");
                }
                &.display-expand {
                    background-image: url("img/display_expand.png");
                }
            }

            &:hover {
                .display-icon {
                    .opacity(100);
                }
            }
        }

        &.active > a {
            .display-icon {
                .opacity(100);
            }
        }
    }
}

@media all and (max-width: 1108px) {
    .legend {
        width: 43%;

        > li {
            width: 25%;
        }
    }

    .mode-switch-buttons {
        width: 57%;
        > li {
            width: 20%;
        }
    }
}

.annotation-help {
    position: absolute;
    right: 18px;
    top: 31px;
    font-size: 11px;

    color: #d2b340;

    text-shadow: 1px 1px 6px fade(#222, 50%);

    .add-help {
        margin-left: 15px;
        .opacity(80);
    }

    .annotations-checkbox {

        display: inline-block;
        vertical-align: top;

        margin: 0;
        padding: 0 0 0 20px;

        .annotations-toggle {
            margin-top: 1px;
        }

        .opacity(40);

        &:hover {
            .opacity(100);
        }
    }
}
