@media all and (max-width: 1100px) {
  .legend {
    width: 43%;
  }
  .legend > li {
    width: 25%;
  }
  .mode-switch-buttons {
    width: 57%;
  }
  .mode-switch-buttons > li {
    width: 20%;
  }
}
.legend {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
}
.legend > li {
  float: right;
  padding: 8px 8px;
  color: #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.legend .legend-swatch {
  width: 13px;
  height: 13px;
  display: inline-block;
  border: 1px solid rgba(170, 170, 170, 0.33);
  vertical-align: top;
}
.annotation-help {
  position: absolute;
  z-index: 10000;
  right: 15px;
  top: 28px;
  color: #eeca4b;
  text-shadow: 1px 1px 6px rgba(34, 34, 34, 0.5);
}
.annotation-help .add-help {
  margin-left: 15px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.annotation-help .annotations-checkbox {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0 0 0 20px;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.annotation-help .annotations-checkbox .annotations-toggle {
  margin-top: 1px;
}
.annotation-help .annotations-checkbox:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* Mode switch button styles */
.mode-switch-buttons {
  float: left;
}
.mode-switch-buttons > li {
  overflow: hidden;
  white-space: nowrap;
}
.mode-switch-buttons > li > a {
  padding: 2px 10px 2px 4px;
}
.mode-switch-buttons > li > a .display-icon {
  background-repeat: no-repeat;
  width: 26px;
  height: 17px;
  display: inline-block;
  line-height: 20px;
  vertical-align: text-bottom;
  margin-right: 3px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.mode-switch-buttons > li > a .display-icon.display-simple {
  background-image: url("img/display_simple.png");
}
.mode-switch-buttons > li > a .display-icon.display-stack {
  background-image: url("img/display_stack.png");
}
.mode-switch-buttons > li > a .display-icon.display-expand {
  background-image: url("img/display_expand.png");
}
.mode-switch-buttons > li > a:hover .display-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
.mode-switch-buttons > li.active > a .display-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
