/*csslint known-properties: false*/
.axis path,
.axis line {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}
.axis text {
    fill: #ddd;
}

.area {
    fill: steelblue;
}

.focus .area {
    opacity: 0.5;
}

.spark {
    stroke: #000;

}

.circular-border {
    fill: #222;
    /*stroke: #eee;*/
}

.background {
    fill: #222;
}

.foreground {
    fill: none;
    pointer-events: all;
}

.dot:hover {
    stroke: #ffffaa;
    stroke-width: 1px;
}

.chart-label {
    fill: #DDD;
    font-size: 12px;
}

.graph-align-toggle {
    position: absolute;
    padding: 1px;
    border-radius: 1px;
    -webkit-transition: box-shadow 100ms linear, background-color 100ms linear;
    -moz-transition: box-shadow 100ms linear, background-color 100ms linear;
    -ms-transition: box-shadow 100ms linear, background-color 100ms linear;
    -o-transition: box-shadow 100ms linear, background-color 100ms linear;
    transition: box-shadow 100ms linear, background-color 100ms linear;
}

.graph-align-toggle:hover {
    background-color: rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 3px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 1);
    box-shadow: 0 0 3px rgba(255, 255, 255, 1);
}

.graph-align-toggle:active {
    background-color: rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

.graph-align-toggle i {
    display: block;
    /*corner-radius: 2px;*/
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.highlights line {
    stroke: orange;
}