/*csslint known-properties: false*/
@import-once 'lib/mixins';

//
// Set up the axes
//
svg {
    .axis {
        path, line {
            fill: none;
            stroke: #444;
            shape-rendering: crispEdges;
            .transition(stroke 300ms);
        }

        text {
            fill: #888;
            font-size: 11px;
            .transition(fill 300ms);
        }
    }

    &:hover {
        .axis {
            path, line {
                stroke: #666;
            }

            text {
                fill: #aaa;
            }
        }
    }


    //
    //Set up the histogram cross-fading
    //
    .histogram {
        .transition-duration(500ms);

        .in {
            //    .opacity(0);
            .transition-delay(500ms);
        }
    }

    .background {
        fill: transparent;
        pointer-events: all;
    }

    .area {
        pointer-events: none;
    }

    .highlight {
        &.tweet {
            stroke: cyan;
        }

        &.keyword {
            stroke: #e800ff;
        }
    }

    .user-select(none);
    cursor: default;
}


.axis-title {
    fill: #AAA;
    text-anchor: end;
    .transform(rotate(-90deg) translate(-10px, 14px));
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}


text.silly-message {
    fill: #FFF;
    font-size: 14px;
    text-anchor: middle;
    .opacity(0);
    text-shadow: 1px 1px 5px #000;
}
