.legend {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0 10px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.legend > li {
  float: right;
  padding: 8px 8px;
  color: #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.legend .legend-swatch {
  width: 13px;
  height: 13px;
  display: inline-block;
  border: 1px solid rgba(170, 170, 170, 0.33);
  vertical-align: top;
}
.display-mode-help {
  position: absolute;
  left: 4px;
  top: 4px;
  padding: 3px 3px 0 3px;
}
/* Mode switch button styles */
.mode-switch-buttons {
  float: left;
  padding-left: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mode-switch-buttons > li > a {
  padding: 2px 10px 2px 4px;
  overflow: hidden;
  white-space: nowrap;
}
.mode-switch-buttons > li > a .display-icon {
  background-repeat: no-repeat;
  background-size: contain;
  width: 26px;
  height: 17px;
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  margin-right: 3px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.mode-switch-buttons > li > a .display-icon.display-simple {
  background-image: url("img/display_simple.png");
}
.mode-switch-buttons > li > a .display-icon.display-stack {
  background-image: url("img/display_stack.png");
}
.mode-switch-buttons > li > a .display-icon.display-expand {
  background-image: url("img/display_expand.png");
}
.mode-switch-buttons > li > a:hover .display-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
.mode-switch-buttons > li.active .display-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
@media all and (max-width: 1060px) {
  .legend {
    width: 45%;
  }
  .legend > li {
    width: 25%;
    padding-right: 2px;
    padding-left: 2px;
    /* this is the first li visually, because they are floated left */
  
  }
  .legend > li:last-child {
    padding-left: 4px;
  }
  .legend > li:first-child {
    padding-right: 0px;
  }
  .mode-switch-buttons {
    width: 55%;
  }
  .mode-switch-buttons > li {
    width: 20%;
  }
}
.annotation-help {
  position: absolute;
  right: 18px;
  top: 31px;
  font-size: 11px;
  color: #d2b340;
  text-shadow: 1px 1px 6px rgba(34, 34, 34, 0.5);
}
.annotation-help .add-help {
  margin-left: 15px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.annotation-help .annotations-checkbox {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0 0 0 20px;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.annotation-help .annotations-checkbox .annotations-toggle {
  margin-top: 1px;
}
.annotation-help .annotations-checkbox:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.slider-button {
  position: absolute;
  right: 16px;
  top: 46px;
  width: 20px;
  line-height: 14px;
  padding: 2px 0 0 0;
  z-index: 1000;
}
