.tweet-list ul {
	list-style-type: none;
	margin: 0;
	background: #fff;
}

.tweet-list .tweet {
    border-bottom: 1px solid #ccc;
	color: #333;
	padding: 12px;

    position: relative;

    -webkit-transition: background 200ms ;
    -moz-transition: background 200ms ;
    -ms-transition: background 200ms ;
    -o-transition: background 200ms ;
    transition: background 200ms ;
}

.reference-mode .tweet-list .tweet {
    cursor: pointer;
}

.tweet-list .tweet .hdr {
	color: #888;
	font-size: 80%;
}

.tweet-list .tweet .twitter-link {
    position: absolute;
    top: 5px;
    right: 5px;
}

.tweet-list .tweet .body {
	overflow: auto;
}

.tweet-list .tweet .tweet_text {
	width: 80%;
	float: left;
}

.tweet-list .tweet .tweet_count {
	width: 20%;
	float: left;
	text-align: right;
}

.tweet-list .tweet.highlight,
.tweet-list .tweet:hover {
    background-color: #D9F6FA;
}