#query1-details ul {
	margin: 0px;
}
#explorer-details > div > .tab-content {
	height: 300px;
}
#tweet-list ul {
	height: 300px;
	width: 100%;
	overflow-y: auto;
	list-style-type: none;
	margin: 0;
	background: #fff;
}

#tweet-list .tweet {
	color: #333;
	padding: 12px;
}

#tweet-list .tweet .hdr {
	color: #888;
	font-size: 80%;
}

.tweet .body {
	overflow: auto;
}

#tweet-list li {
	border-bottom: 1px solid #ccc;
}

.tweet .tweet_text {
	width: 80%;
	float: left;
}

.tweet .tweet_count {
	width: 20%;
	float: left;
	text-align: right;
}

.tab-content {
	
}