
.tweet-list .tweet {
    line-height: 18px;
}

.tweet-list .tweet .username {
    float: left;
	font-size: 12px;
    margin-right: 10px;
}

.tweet-list .subtle-link {
    color: #81ACBD;
}

.tweet-list .tweet .body {
    clear: both;
    overflow: hidden;
    position: relative;
}

.tweet-list .tweet .indicator {
    position: absolute;
    left: 2px;
    width: 4px;
    top: 3px;
    bottom: 3px;
}

.tweet-list .tweet .tweet_text {
    margin-left: 12px;
    margin-top: 3px;
    margin: 3px 12px;
}

.tweet-list .tweet .tweet_count {
	float: right;
    margin-left: 10px;
}

.tweet-list .tweet.highlight,
.tweet-list .tweet:hover {
    background-color: #555;
}

.tweet-list .tweet .twitter-link {
    line-height: 18px;
    opacity: 0.2;
    float: right;
}

.tweet-list .tweet .twitter-link span {
    opacity: 0;
}

.tweet-list .tweet:hover .twitter-link,
.tweet-list .tweet:hover .twitter-link span{
    opacity: 1;
}

.tweet-list .tweet .twitter-icon-light {
    background: url('img/twitter-bird-dark-bgs.png');
    background-position: center;
    background-size: 24px 24px;

    width: 18px;
    height: 18px;
    vertical-align: bottom;
    display: inline-block;
}