
.reference-mode .users-list .user {
    cursor: pointer;
}

.users-list .name {
    width: 40%;
    float: left;
}

.users-list .count {
    text-align: right;
    float: left;
    width: 25%;
}

.users-list .follower {
    text-align: right;
    float: right;
    width: 35%;
}

.users-list .user.highlight,
.users-list .user:hover {
    background-color: #555;
}