; environment can be development or production
environment=development
logging_enabled=1

; public is an integer specifying which "slice" of
; the user-generated data to read from and write to.
public=0

; keep_data_private can be TRUE or FALSE.
; If keep_data_private is TRUE then the user
; will only see annotations and discussions that
; they created.
keep_data_private=FALSE

; Use SSL
secure=true

; auth_mode can be either 'simple' or 'twitter'
auth_mode=simple

; optional IDs for Google Analytics
;[google]
;id=UA-XXXXXXXX-X
;domain=XXXXXXXXXXXX

; The database configuration for the user-generated data
[db]
host=XXXXXXXXX
port=####
schema=XXXXXXXXXX
user=XXXXX
password=XXXXX
; which of the below corpora to pull Twitter data from
corpus=CORPUS_ID

; Any number of corpora can be defined below.
; Use the corpus setting above to select one of them.
[corpus-CORPUS_ID]
host=XXXXXXXXX
port=####
schema=XXXXXXXXXX
user=XXXXX
password=XXXXX

; Keys for Twitter authentication
;[twitter]
;consumer_key=XXXXXXXXXXXXXXXXXXXXX
;consumer_secret=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX