.annotations {
  cursor: pointer;
}
.annotations .annotation-target {
  stroke: orange;
  stroke-width: 2px;
  shape-rendering: crispEdges;
  display: none;
}
.annotations .background {
  fill: rgba(255, 255, 255, 0.03);
  -webkit-transition: fill 300ms linear;
  -moz-transition: fill 300ms linear;
  -o-transition: fill 300ms linear;
  transition: fill 300ms linear;
}
.annotations:hover .annotation-target {
  display: inline;
}
.annotations:hover .annotation {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.annotations:hover .background {
  fill: rgba(255, 255, 255, 0.08);
}
.tweet-timeline .annotations .annotation {
  fill: yellow;
  stroke: transparent;
  stroke-width: 4px;
  shape-rendering: crispEdges;
  opacity: 0.7;
  filter: alpha(opacity=70);
  pointer-events: all;
  -webkit-transition: stroke 300ms,opacity 300ms,fill 300ms;
  -moz-transition: stroke 300ms,opacity 300ms,fill 300ms;
  -o-transition: stroke 300ms,opacity 300ms,fill 300ms;
  transition: stroke 300ms,opacity 300ms,fill 300ms;
}
.tweet-timeline .annotations .annotation.highlight,
.tweet-timeline .annotations .annotation:hover {
  stroke: yellow;
  opacity: 1;
  filter: alpha(opacity=100);
}
.tweet-timeline .annotations .annotation.new {
  fill: #4AFF42;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.reference-mode .tweet-timeline .annotations .annotation {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
}
.tweet-overview .annotations .annotation {
  stroke: yellow;
  opacity: 0.7;
  filter: alpha(opacity=70);
  stroke-width: 2px;
  shape-rendering: crispEdges;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.tweet-overview .annotations .annotation.highlight {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1, 10);
  -moz-transform: scale(1, 10);
  -ms-transform: scale(1, 10);
  -o-transform: scale(1, 10);
  transform: scale(1, 10);
}
