/*csslint adjoining-classes: false*/
.collaborator .header .title {
  font-weight: normal;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 10px;
}
.collaborator .user-display {
  font-size: 18px;
  line-height: 30px;
  vertical-align: middle;
  float: right;
}
.user-box {
  text-align: center;
}
.user-box .header {
  margin: 10px 0;
}
.user-box .header .title {
  font-size: 50px;
  line-height: 54px;
  text-rendering: optimizeLegibility;
  max-width: 300px;
  margin: 40px auto;
  font-weight: bold;
}
.user-box .header .message {
  font-size: 22px;
  line-height: 24px;
  color: #ddd;
  margin: 10px 0 15px;
}
.user-box .form input {
  font-size: 20px;
  line-height: 30px;
  height: 30px;
  padding: 8px 14px;
  text-align: center;
}
.user-box .form .user-submit {
  font-size: 20px;
  line-height: 20px;
  padding: 12px 18px;
}
.user-box .form .user-submit .twitter-icon-light {
  background-position: center;
  background-size: 32px;
  background-image: url('../img/twitter-bird-dark-bgs-32.png');
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}
.discussions .discussion-search-wrapper {
  position: absolute;
  top: 3px;
  right: 0;
  margin: 0;
}
.discussions .discussion-search-wrapper input {
  width: 125px;
}
.discussions .instructions {
  margin-top: 10px;
}
.discussions .new-button {
  position: absolute;
  right: 0;
  bottom: 0;
}
.discussions .discussion {
  cursor: pointer;
}
.discussion.item {
  padding-top: 20px;
  padding-bottom: 15px;
}
.discussion:hover {
  background-color: #444;
}
.discussion:hover .message-count,
.discussion:hover .last-comment-at,
.discussion:hover .users {
  color: #fff;
}
.discussion:active {
  background-color: #505050;
}
.discussion .subject {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 40px;
  margin-bottom: 1em;
  font-size: 14px;
}
.discussion .message-count {
  position: absolute;
  top: 12px;
  right: 12px;
}
.discussion .users {
  float: left;
  max-width: 50%;
}
.discussion .last-comment-at {
  float: right;
  margin-right: 12px;
  margin-left: 20px;
  max-width: 140px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.discussion-view {
  float: right;
}
.discussion-view .discussion-title {
  position: absolute;
  top: 0;
  right: 0;
  left: 75px;
  /* space for the button */
  font-size: 16px;
  line-height: 26px;
  /* button height */
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.discussion-view .comment-box textarea {
  width: 100%;
  height: 56px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  margin: 10px 0;
}
.discussion-view .comment-box .reference-button {
  float: left;
}
.discussion-view .comment-box .send-button {
  float: right;
  margin-left: 10px;
}
.discussion-view .comments.item-list .comment .user {
  margin-bottom: 10px;
}
.discussion-view .comments.item-list .comment .time {
  float: right;
}
.discussion-view .comments.item-list .comment .view-state {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  font-size: 11px;
  color: #999;
}
.discussion-view .comments.item-list .comment .view-state .icon-white {
  opacity: 0.5;
}
.discussion-view .comments.item-list .comment .view-state:hover {
  color: #FFF;
}
.discussion-view .comments.item-list .comment .view-state:hover .icon-white {
  opacity: 1;
}
.discussion-view .comments.item-list .comment .message {
  line-height: 1.5em;
}
.discussion-view .comments.item-list .comment .message .ref {
  color: #f4eb3e;
  white-space: nowrap;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 0, 0.1);
  cursor: pointer;
  padding: 2px;
}
.reference-mode .discussion-view .comments.item-list .comment .message .ref {
  border-color: #AAA;
}
.discussion-view .comments.item-list .comment .message .ref.highlight,
.discussion-view .comments.item-list .comment .message .ref:hover {
  text-decoration: underline;
  background-color: rgba(255, 255, 0, 0.3);
}
.discussion-view .comments.item-list .comment .message .ref.type-T {
  color: #93e7ff;
  background-color: rgba(104, 208, 242, 0.1);
}
.discussion-view .comments.item-list .comment .message .ref.type-T.highlight,
.discussion-view .comments.item-list .comment .message .ref.type-T:hover {
  background-color: rgba(104, 208, 242, 0.3);
}
