@import "lib/mixins";
@import url(lib/bootstrap.css);
@import url(navbar.css);
@import url(layout.css);
@import url(tabs.css);
@import url(timeline.css);
@import url(timeline_controls.css);
@import url(annotation.css);
@import url(colors.css);
@import url(query.css);
@import url(itemlists.css);
@import url(discussions.css);
@import url(tweetlist.css);
@import url(keywordlist.css);
@import url(userlist.css);

.no-select {
    .user-select(none);
}

.spinner > div > div {
    background: #FFF;
}

.details-left > div,
.details-right > div {
}

.details-left.highlight > div,
.details-right.highlight > div {
    background: #141414;
}

.twitter-icon-light {
    display: inline-block;
    background-repeat: no-repeat;
    //This is a large image - resize it to the size you actually need.
    //IE doesn't resize transparent pngs well.
    //background-image: url('../img/twitter-bird-dark-bgs.png');
}
