/*csslint known-properties: false*/
svg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
svg .axis path,
svg .axis line {
  fill: none;
  stroke: #444;
  shape-rendering: crispEdges;
  -webkit-transition: stroke 300ms;
  -moz-transition: stroke 300ms;
  -o-transition: stroke 300ms;
  transition: stroke 300ms;
}
svg .axis text {
  fill: #888;
  font-size: 11px;
  -webkit-transition: fill 300ms;
  -moz-transition: fill 300ms;
  -o-transition: fill 300ms;
  transition: fill 300ms;
}
svg:hover .axis path,
svg:hover .axis line {
  stroke: #666;
}
svg:hover .axis text {
  fill: #aaa;
}
svg .histogram {
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
svg .histogram .in {
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
}
svg .background {
  fill: transparent;
  pointer-events: all;
}
svg .area {
  pointer-events: none;
}
svg .highlight {
  shape-rendering: crispEdges;
}
svg .highlight.tweet {
  stroke: cyan;
}
.tweet-overview svg .highlight.tweet {
  stroke-width: 2px;
}
svg .highlight.keyword {
  stroke: #ffa0f3;
}
.tweet-overview svg .highlight.keyword {
  stroke-width: 2px;
}
.tweet-overview .time-selector {
  position: absolute;
  left: 5px;
  top: 0px;
  z-index: 20000;
  width: 50px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tweet-overview .time-selector:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tweet-overview .time-selector .selector-label {
  color: #aaa;
  font-size: 11px;
}
.tweet-overview .time-selector .icon-question-sign {
  position: absolute;
  left: 30px;
  top: 0px;
}
.axis-title {
  fill: #AAA;
  text-anchor: end;
  -webkit-transform: rotate(-90deg) translate(-10px, 20px);
  -moz-transform: rotate(-90deg) translate(-10px, 20px);
  -o-transform: rotate(-90deg) translate(-10px, 20px);
  transform: rotate(-90deg) translate(-10px, 20px);
}
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
text.silly-message {
  fill: #FFF;
  font-size: 14px;
  text-anchor: middle;
  opacity: 0;
  filter: alpha(opacity=0);
  text-shadow: 1px 1px 5px #000;
}
