; EXAMPLE AGAVE CONFIGURATION
; Place a copy of this file names 'app.ini'
; in the agave root directory.

; environment can be development or production
environment=development
logging_enabled=1

; If you set up url rewriting then you
; could change this to be empty.
; See http://ellislab.com/codeigniter/user-guide/general/urls.html
;index_page=index.php

; public is an integer specifying which "slice" of
; the user-generated data to read from and write to.
public=0

; The database configuration for the user-generated data
[db]
host=XXXXXXXXX
port=####
schema=XXXXXXXXXX
user=XXXXX
password=XXXXX
; which corpus to pull Twitter data from
; this id must be in your corpora table in the agave database
corpus=CORPUS_ID

; Base url for static files
;static_url=/static

; keep_data_private can be TRUE or FALSE.
; If keep_data_private is TRUE then the user
; will only see annotations and discussions that
; they created.
keep_data_private=FALSE

; Use SSL
secure=true

; auth_mode can be either 'simple' or 'twitter'
; If set to 'twitter', then Twitter authentication
; keys must be provided below.
auth_mode=simple

; Keys for Twitter authentication
;[twitter]
;api_key=XXXXXXXXXXXXXXXXXXXXX
;api_secret=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
; These are needed for streaming from Twitter
;access_token=XXXXXXXXXXXXXXX
;access_token_secret=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

; optional IDs for Google Analytics
;[google]
;id=UA-XXXXXXXX-X
;domain=XXXXXXXXXXXX